<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JSON Request Tester</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
</head>
<body>
    <div class="container">
        <h1>JSON Request Tester</h1>
        <h3>Input Values</h3>
        <form id="json-input-form" method="post">
            <input id="url-input" name="url" type="text" class="input" placeholder="URL">
            <textarea id="json-input" name="json" class="input" placeholder="JSON"></textarea>
            <select id="method-select" name="method-select" class="input">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
            </select>
            <input type="submit" class="input" value="GO">
        </form>
    </div>
</body>
</html>
